ExcelTest/bin/Debug/ClosedXML.xml
ExcelTest/bin/Debug/ExcelTest.exe.config
ExcelTest/bin/Debug/ExcelTest.vshost.exe.config
ExcelTest/bin/Debug/ExcelTest.vshost.exe.manifest
ExcelTest/bin/Release/ClosedXML.xml
ExcelTest/bin/Release/ExcelTest.exe.config
ExcelTest/bin/Release/ExcelTest.vshost.exe.config
ExcelTest/bin/Release/ExcelTest.vshost.exe.manifest
ExcelTest/obj/Debug/ExcelTest.Form1.resources
ExcelTest/obj/Debug/ExcelTest.Properties.Resources.resources
ExcelTest/obj/Debug/ExcelTest.csproj.FileListAbsolute.txt
ExcelTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ExcelTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ExcelTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ExcelTest/obj/Release/ExcelTest.Form1.resources
ExcelTest/obj/Release/ExcelTest.Properties.Resources.resources
ExcelTest/obj/Release/ExcelTest.csproj.FileListAbsolute.txt
ExcelTest/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ExcelTest/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ExcelTest/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/ClosedXML.0.80.1/ClosedXML.0.80.1.nupkg
packages/ClosedXML.0.80.1/lib/net35-client/ClosedXML.xml
packages/ClosedXML.0.80.1/lib/net40-client/ClosedXML.xml
packages/DocumentFormat.OpenXml.2.5/DocumentFormat.OpenXml.2.5.nupkg
